{% extends 'User/Header.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trailer Upload</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

{% block content %}
<div class="container mt-5">
    <form action="" method="post">
        {% csrf_token %}
        <h2 class="text-center mb-4">Add Trailer</h2>
        <div class="row mb-3">
            <label for="sel_content" class="col-sm-2 col-form-label">Content Title</label>
            <div class="col-sm-10">
                <select class="form-select" name="sel_content" id="sel_content">
                    <option value="">---Select---</option>
                    {% for i in Content %}
                        <option value="{{ i.id }}">{{ i.details_title }}</option>                          
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="date_release_date" class="col-sm-2 col-form-label">Trailer Release Date</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" name="date_release_date" id="date_release_date">
            </div>
        </div>
        <div class="row mb-3">
            <label for="txt_url" class="col-sm-2 col-form-label">Trailer Link</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="txt_url" id="txt_url" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
                <input type="submit" class="btn btn-primary" name="btn_upload" value="Upload">
                <input type="reset" class="btn btn-secondary" name="btn_cancel" value="Cancel">
            </div>
        </div>
    </form>
</div>
{% endblock content %} 
</body>
</html>
