
            <table>
            {% for i in data %}
                <tr>
                    <td>
                        <a href="{% url 'webuser:content_details' i.id %}">
                            <img src="{{ i.details_photo.url }}" alt="Not Found">
                        </a>
                    </td>
                    <td>&nbsp;
                        <a href="{% url 'webuser:content_details' i.id %}">
                            <h1>{{ i.details_title }}</h1>
                            <p>{{ i.details_description }}</p>
                        </a>
                    </td>
                </tr>
            </a>
            {% endfor %}
        </table>
       