{% extends "User/Header.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatrooms</title>
    {% block content %}
    <style>
        a{
            text-decoration: none;        }
        .nav-links{
            justify-content: space-evenly;
            display: flex;
            height: 50px;
            background-color: aliceblue;
        }
        .nav-links-child{
            padding: 12px;
            width: 100%;
        }
        .nav-links-child:hover{
            transform: scale(1.2);
            color: black;
        }
    </style>
</head>
<body>

    <div class="nav-links">
        <a href="{% url 'webuser:chatrooms' %}">
            <div class="nav-links-child">List</div>
        </a>
        <a href="{% url 'webuser:joined_list' %}">
            <div class="nav-links-child">Joined</div>
        </a>
        <a href="{% url 'webuser:create_chatroom' %}">
            <div class="nav-links-child">Create</div>
        </a>
    </div>
      
    <table>
        {% for i in Created %}
            <tr>
                <td><img src="{{ i.community_photo.url }}" alt=""></td>
                <td>
                    <h2>{{ i.community_name }}</h2>
                    <p>{{ i.community_description }}</p>
                    {% if i.community_status == 0 %}
                        <small>Open</small>                  
                        {% else %}
                        <small>Closed</small>
                    {% endif %} <br>    
                    <a href="{% url 'webuser:chatpage' i.id %}" class="btn" >View</a>  
                    <!-- {% if i.user_id.id == User %} -->
                    <!-- {% else %} -->
                        <!-- <a href="{% url 'webuser:join_chatroom' i.id %}">Join</a> -->
                    <!-- {% endif %} -->
                </td>
            </tr>
        {% endfor %}

        
        {% for i in List %}
            <tr>
                <td><img src="{{ i.room_id.community_photo.url }}" alt=""></td>
                <td>
                    <h2>{{ i.room_id.community_name }}</h2>
                    <p>{{ i.room_id.community_description }}</p>
                    {% if i.room_id.community_status == 0 %}
                        <small>Open</small>                  
                        {% else %}
                        <small>Closed</small>
                    {% endif %} <br>    
                    <a href="{% url 'webuser:chatpage' i.id %}" class="btn" >View</a>  
                    <!-- {% if i.user_id.id == User %} -->
                    <!-- {% else %} -->
                        <!-- <a href="{% url 'webuser:join_chatroom' i.id %}">Join</a> -->
                    <!-- {% endif %} -->
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endblock content %}
</body>
</html>