{% extends "Admin/Header.html" %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Crew Details</title>
</head>
<body>
{% block content %}
  
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table align="center">
            <caption align="top"><h1 align="center">Add Crew Details</h1></caption>
            <tr>
                <td>Content Title</td>
                <td>
                    <select name="sel_title" id="">
                        <option value="">---Select---</option>
                        {% for i in Details %}
                        <option value="{{ i.id }}">{{ i.details_title }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Photo</td>
                <td><input type="file" name="file_photo" id=""></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="txt_name" id=""></td>
            </tr>
            <tr>
                <td>Role</td>
                <td><input type="text" name="txt_role" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Upload" name="btn_submit">
                    <input type="reset" value="Cancel" name="btn_cancel">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
        {% endblock content %}  