{% extends "Admin/Header.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% block content %}
  
<form action="" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="form-group">
            <label for="txt_category">Category</label>
            <input type="text" class="form-control" id="txt_category" name="txt_category" value="{{ Cdata.category_name }}">
        </div>
        <button type="submit" class="btn btn-primary" name="btn_save">Add</button>
        <button type="reset" class="btn btn-secondary" name="btn_cancel">Cancel</button>
    </div>
</form>
<br><br>
<div class="container">
    <table class="table">
        <thead>
            <tr align="center">
                <th>SL.no</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in Cat_data %}
            <tr align="center">
                <td>{{ forloop.counter }}</td>
                <td>{{ i.category_name }}</td>
                <td>
                    <a href="{% url 'webadmin:del_category' i.id %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'webadmin:edit_category' i.id %}" class="btn btn-warning">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
{% endblock content %}
