{% extends "Admin/Header.html" %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
{% block content %}
  

</head>
<body>

<div class="dummy" style="height: 10px;">

</div>
  <div class="row">
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card shadow mb-4 p-2 rounded-4">
        <div class="card-body d-flex align-items-center">
          <div class="icon-box lg shadow-solid-rb border border-dark p-4 rounded-4 me-3">
            <a href="{% url 'webadmin:content_display' %}"><i class="fs-3 bi bi-camera-reels text-primary"></i></a>
          </div>
          <div class="m-0">
            <h5 class="fw-light mb-1">Contents</h5>
            <h2 class="m-0 text-primary">{{ Content }}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card shadow mb-4 p-2 rounded-4">
        <div class="card-body d-flex align-items-center">
          <div class="icon-box lg shadow-solid-rb border border-dark p-4 rounded-4 me-3">
            <a href="{% url 'webadmin:users_list' %}"><i class="fs-3 bi bi-person text-primary"></i></a>
          </div>
          <div class="m-0">
            <h5 class="fw-light mb-1">Users</h5>
            <h2 class="m-0 text-primary">{{ User }}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card shadow mb-4 p-2 rounded-4">
        <div class="card-body d-flex align-items-center">
          <div class="icon-box lg shadow-solid-rb border border-dark p-4 rounded-4 me-3">
            <a href="{% url 'webadmin:view_complaints' %}"><i class="fs-3 bi bi-exclamation-triangle text-primary"></i></a>
          </div>
          <div class="m-0">
            <h5 class="fw-light mb-1">Complaints</h5>
            <h2 class="m-0 text-primary">{{ Complaint }}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card shadow mb-4 p-2 rounded-4">
        <div class="card-body d-flex align-items-center">
          <div class="icon-box lg shadow-solid-rb border border-dark p-4 rounded-4 me-3">
            <a href="{% url 'webuser:feedback' %}"><i class="fs-3 bi bi-check2-circle text-primary"></i></a>
          </div>
          <div class="m-0">
            <h5 class="fw-light mb-1">Feedbacks</h5>
            <h2 class="m-0 text-primary">{{ Feedback }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  


{% endblock content %}
</body>
</html>