{% extends "Admin/Header.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Package</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% block content %}
      
    <form action="" method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Create Package</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        {% csrf_token %}
                        <Caption align="top"></Caption>
                        <tr>
                            <td><input type="text" name="txt_name" id="" class="form-control" placeholder="Package title" value="{{ Edit.package_title }}"></td>
                        </tr>
                        <tr>
                            <td><textarea name="txt_discription" id="" rows="5" cols="35" class="form-control" placeholder="Package Details">{{ Edit.package_discription }}</textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="number" name="num_validity" id="" class="form-control" placeholder="Package Validity in months" value="{{ Edit.package_validity }}">
                                <input type="number" name="num_price" id="" class="form-control" placeholder="Price" value="{{ Edit.package_price }}">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <input type="submit" value="Create" name="btn_submit" class="btn btn-primary">
                                <input type="reset" value="Cancel" name="btn_cancel" class="btn btn-secondary">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table" border="1" cellpadding="10">
                        <tr>
                            <td>SL.no</td>
                            <td>Package Details</td>
                            <td>Validity</td>
                            <td>Price</td>
                            <td colspan="2" align="center">Action</td>
                        </tr>
                        {% for i in Package %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><b>{{ i.package_title }}</b><br><p>{{ i.package_discription }}</p></td>
                            <td>{{ i.package_validity }} Months</td>
                            <td>{{ i.package_price }}</td>
                            <td><a href="{% url 'webadmin:edit_package' i.id %}" class="btn btn-primary">Edit</a></td>
                            <td><input type="button" onclick="package_delete('{{i.id}}')" value="Delete" class="btn btn-danger"></td>
                            <!-- <td><a href="{% url 'webadmin:del_package' i.id %}">Delete</a></td> -->
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </form>
</body>
</html>

<script>
    function package_delete(pid){
        var result = confirm("Do you want to delete")
        if(result){
            window.location="/Admin/Del_Package/"+pid
        }
    }
</script>
            
{% endblock content %}
