{% extends "Admin/Header.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
    {% block content %}
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-bordered">
                {% for i in Users %}
                <tr>
                    <td><img src="{{ i.user_photo.url }}" alt="" class="img-thumbnail"></td>
                    <td>
                        <p><strong>Name:</strong> {{ i.user_name }}</p>
                        <p><strong>Contact:</strong> {{ i.user_contact }}</p>
                        <p><strong>Email:</strong> {{ i.user_email }}</p>
                        <p><strong>Gender:</strong> {{ i.user_gender }}</p>
                        <p><strong>Date Of Birth:</strong> {{ i.user_dob }}</p>
                    </td>
                    <td>
                        <a href="{% url 'webadmin:user_ban' i.id %}" class="btn btn-danger">Ban</a> 
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<!-- Optional: Include Bootstrap JS if you plan to use Bootstrap JavaScript components -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock content %}

</body>
</html>
