{% extends "Admin/Header.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Content</title>
</head>
<body>
    {% block content %}
    <style>
        a{
            text-decoration: none;        
        }
        .nav-links{
            justify-content: space-evenly;
            display: flex;
            height: 50px;
            background-color: aliceblue;
        }
        .nav-links-child{
            padding: 12px;
            width: 100%;
        }
        .nav-links-child:hover{
            transform: scale(1.2);
            color: black;
        }
    </style>
      
    <div class="nav-links">
        <a href="{% url 'webadmin:content_display' %}">
            <div class="nav-links-child">Content List</div>
        </a>
        <a href="{% url 'webadmin:user_content_manage' %}">
            <div class="nav-links-child">User Content List</div>
        </a>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        <table align="center" border="1" width="1000px" height="500px">
            {% for i in Details %}
            <tr>
                <td colspan="3" align="center">
                        <h1>{{ i.details_title }}</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ i.details_photo.url }}" width="600px" alt="Content Poster">
                    </td>
                    <td>
                        <p>  {{ i.details_description }}</p><br>
                        Category: {{ i.category_id.category_name }} <br>
                        Language : {{ i.language_id.language_name }} <br>
                        Genre : {{ i.details_genres }} <br>
                        <!-- Duration : {{ i.content_duration }} hr <br>
                            Release Date : {{ i.content_release_date }} -->
                    </td>
                    <td>
                        <a href="{% url 'webadmin:accept_content' i.id %}">Accept</a> | <a href="{% url 'webadmin:reject_content' i.id %}">Reject</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="center">
                        {% if i.details_filesize == 0 %}
                            <a href="{% url 'webadmin:content_play' i.id %}"><input type="button" value="Watch"></a>
                            {% else %}
                            <a href="{% url 'webadmin:series_details' i.id %}"><input type="button" value="List"></a>
                            {% endif %}
                            <a href="{% url 'webadmin:view_trailer' i.id %}"><input type="button" value="Trailer"></a>
                        </td>
                    </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>

{% endblock content %}